<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}سایت آموزشی گرامر زبان{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% if request.endpoint == 'home' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home_new_style.css') }}">
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Estedad:wght@400;700&family=Inter:wght@400;500;700&family=Open+Sans:wght@400;600;700&family=Vazirmatn:wght@400;700&display=swap" rel="stylesheet">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    {% block head %}{% endblock %}
</head>
<body id="site-body">
    <div id="language-modal-overlay" class="modal-overlay language-modal-overlay">
        <div class="language-modal">
            <h2>زبان دلخواه سایت را انتخاب کنید</h2>
            <div class="language-buttons">
                <button id="select-fa" class="modal-button">فارسی</button>
                <button id="select-ku" class="modal-button">کوردی</button>
            </div>
        </div>
    </div>
    <div id="main-content-wrapper" style="filter: blur(8px); pointer-events: none;">
        {% if request.endpoint != 'quiz' %}
        {% include 'header.html' %}
        <div class="content">
        {% endif %}
            {% block content %}{% endblock %}
        {% if request.endpoint != 'quiz' %}
        </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {# <script src="{{ url_for('static', filename='js/navbar.js') }}"></script> #}
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
