<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}سایت آموزشی گرامر زبان{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% if request.endpoint == 'home' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home_new_style.css') }}">
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Estedad:wght@400;700&family=Inter:wght@400;500;700&family=Open+Sans:wght@400;600;700&family=Vazirmatn:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    {% block head %}{% endblock %}
</head>
<body{% if request.endpoint == 'grammar_tests' %} class="tests-page"{% endif %}>
    {% include 'navbar.html' %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>